@font-face {
  font-family: 'BlackoutMidnight';
  src: url('blackout/Blackout-Midnight-webfont.eot');
  src: url('blackout/Blackout-Midnight-webfont.eot?#iefix') format('embedded-opentype'),
       url('blackout/Blackout-Midnight-webfont.woff') format('woff'),
       url('blackout/Blackout-Midnight-webfont.ttf') format('truetype'),
       url('blackout/Blackout-Midnight-webfont.svg#BlackoutMidnight') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	/*background: rgba(0,0,0,0.5);*/
}
p{
	margin:0;
	padding:0;
	color:#000;
}
#vvCVR{
	position: relative;
	/*width:960px;*/
	width:1200px;
	height:700px;
	margin: 0 auto;
	overflow: hidden;
	background: url(../img/vvCVR_turtable.jpg) 220px -50px no-repeat;
}
#block{
	position: absolute;
	width:1200px;
	height:710px;
	background: #fff;
}
#cover{
	position: absolute;
	width:602px;
	height:600px;
	z-index: 100;
	font-family: 'Alegreya', serif;
	font-weight: 900;
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .35);
  box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .35);
  overflow: hidden;
}
#credits{
	width:602px;
	height: 600px;
	position: absolute;
	top:0;
	left:0;
	padding:38px 0;
}
#credits p{
	font: 24px/0px 'BlackoutMidnight', Arial, sans-serif;
	text-align: right;
	padding:42px 45px;
}
.btn{
	position: relative;
	background: #000000;
	padding: 10px 20px;
	bottom:39px;
	left:415px;
	color:#fff;
	text-decoration: none;
}
.btn:hover{
	color:#639ec8;
}
.link{
	/*background: rgba(0,0,0,.5);*/
	position: absolute;
	width:200px;
	height:35px;
	bottom:10px;
	left:10px;
}
#intro{
	position:absolute;
	top:10px;
	left:10px;
}
#vvLogo{
}
#vvPresents{
	font-family: sans-serif;
	font-size: 0.75em;
	letter-spacing: 0.125em;
	position: relative;
	top:5px;
	left:25px;
}
#intro p{
	margin:0;
	padding:0;
}
#vinyl{
	position: absolute;
	width:580px;
	height:580px;
	/*background: rgba(0,0,0,.5);*/
	background: url(../img/vvCom_vinyl.png) no-repeat;
	margin:10px;
	left:300px;
	/*left:190px;*/ /* centered*/
    -webkit-border-radius: 300px;
    border-radius: 300px;
}
#audio-controls{
	position: absolute;
	top:0;
	right:0;
	width:103px;
	height:50px;
	z-index: 1000;
}
#play-pause,
#volume{
	float: left;
	width:50px;
	height:50px;
	overflow: hidden;
	position: relative;
	top:0;
	background-color: #efefef;
}
#volume{
	float: right;
}
#play-pause img,
#volume img{
	position: relative;
	top:-50px;
}
.on{
	position: relative;
	top:0!important;
}
#play-pause:hover,
#volume:hover,
#vvcReplay:hover{
	background-color: #639ec8;
}
#social{
	position: absolute;
	bottom: 0;
	height:30px;
	z-index: 2000;
}
.fb-like,
.twitter-share-button twitter-count-horizontal,
.g-plusone{
	width:80px;
	vertical-align: top;
}
#___plusone_0{
	width:43px!important;
	vertical-align: top!important;
}
#vvcReplay{
	position: absolute;
	top:53px;
	right:0;
	width:50px;
	height:50px;
	background-color: #efefef;
}