body{
	/*background: rgba(0,0,0,0.5);*/
}
p{
	margin:0;
	padding:0;
}
#vvCVR{
	position: relative;
	width:960px;
	height:620px;
	margin: 0 auto;
	overflow: hidden;
}
#cover{
	position: absolute;
	width:600px;
	height:600px;
	/*background: rgba(0,0,0,.5);*/
	background: url(../img/vvCVR_bdp.gif) no-repeat;
	z-index: 100;
	font-family: 'Alegreya', serif;
	font-weight: 900;
	color: rgba(255,255,0,.6);
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .35);
  box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .35);
}
#credits{
	background: url(../img/vvCVR_bdp_credits.gif) no-repeat;
	width:600px;
	height: 600px;
}
.btn{
	position: relative;
	background: #000000;
	padding: 10px 20px;
	bottom:32px;
	left:415px;
	color:#fff;
	text-decoration: none;
}
.btn:hover{
	color:#639ec8;
}
.link{
	/*background: rgba(0,0,0,.5);*/
	position: absolute;
	width:200px;
	height:35px;
	bottom:10px;
	left:10px;
}
#intro{
	position:absolute;
	top:10px;
	left:10px;
}
#vvLogo{
	background: url(../img/vvLogo.gif) no-repeat;
	width:215px;
	height:89px;
}
#vvPresents{
	font-family: sans-serif;
	font-size: 0.75em;
	letter-spacing: 0.125em;
	position: relative;
	top:5px;
	left:25px;
}
#intro p{
	margin:0;
	padding:0;
}
#vinyl{
	position: absolute;
	width:580px;
	height:580px;
	/*background: rgba(0,0,0,.5);*/
	background: url(../img/vvCom_vinyl.png) no-repeat;
	margin:10px;
	left:300px;
	/*left:190px;*/ /* centered*/
    -webkit-border-radius: 300px;
    border-radius: 300px;
}
